<div class="title1">
  营业收入情况
</div>
<div class="title1-content">
  <div class="title2">
    当月
  </div>
  <div class="content">
    <div class="content-name flex-2">实际完成产值</div>
    <div class="content-input flex-4">
      <input type="text" [(ngModel)]='tableData.t' (blur)='verifyNum(tableData.t,"t")' (keydown)='keyup()' maxlength="13" placeholder="指按照合同约定的计价方式计算的当月实际完成产值">
    </div>
  </div>
  <div class="title2">
    自年初累计
  </div>
  <div class="title3 content">
    <div class="content-name flex-2">
      实际完成产值
    </div>
    <div class="content-div flex-4">
      <div>
        <div class="content-name flex-2">
          <p>不含税实际完成产值</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input [(ngModel)]='tableData.u' (blur)='verifyNum(tableData.u,"u")' (keydown)='keyup()' type="text" name="" id="" maxlength="13">
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>税金</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" [(ngModel)]='tableData.v' (blur)='verifyNum(tableData.v,"v")' (keydown)='keyup()' type="text" name=""
              id="" placeholder="老项目税金不单列，并入实际完成产值中；新项目要填">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="title2">
    自开工累计
  </div>
  <div class="title3 content">
    <div class="content-name flex-2">
      财务账面主营业务收入+税金
    </div>
    <div class="content-div flex-4">
      <div>
        <div class="content-name flex-2">
          <p>主营业务收入</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" disabled type="text" name="" id="" [(ngModel)]='tableData.w' (blur)='verifyNum(tableData.w,"w")' (keydown)='keyup()'>
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>税金</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" disabled type="text" name="" id="" [(ngModel)]='tableData.x' (blur)='verifyNum(tableData.x,"x")' (keydown)='keyup()'>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-name flex-2">工程结算科目</div>
    <div class="content-input flex-4">
      <input type="text" disabled maxlength="50" [(ngModel)]='tableData.y' placeholder="">
    </div>
  </div>
  <div class="title3 content">
    <div class="content-name flex-2">
      实际完成产值
    </div>
    <div class="content-div flex-4">
      <div>
        <div class="content-name flex-2">
          <p>不含税实际完成产值</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input type="text" maxlength="13" (blur)='verifyNum(tableData.z,"z")' [(ngModel)]='tableData.z' name="" (keydown)='keyup()'
              id="">
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>税金</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input type="text" maxlength="13" (blur)='verifyNum(tableData.aa,"aa")' [(ngModel)]='tableData.aa' name="" (keydown)='keyup()'
              id="" placeholder="老项目税金不单列，并入实际完成产值中；新项目要填">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="title1">
  业主确认期中结算情况
</div>
<div class="title1-content">
  <div class="title2">
    当月
  </div>
  <div class="content">
    <div class="content-name flex-2">业主批复金额</div>
    <div class="content-input flex-4">
      <input type="text" maxlength="13" (blur)='verifyNum(tableData.ab,"ab")' (keydown)='keyup()' [(ngModel)]='tableData.ab' placeholder="业主签批手续完整，能够达到财务记账的业主确认的计量。应与项目期中结算台账对应">
    </div>
  </div>
  <div class="title2">
    自年初累计
  </div>
  <div class="title3 content">
    <div class="content-name flex-2">
      业主批复金额
    </div>
    <div class="content-div flex-4">
      <div>
        <div class="content-name flex-2">
          <p>不含税金业主批复金额</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" (blur)='verifyNum(tableData.ac,"ac")' [(ngModel)]='tableData.ac' type="text" name="" (keydown)='keyup()'
              id="">
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>税金</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" (blur)='verifyNum(tableData.ad,"ad")' [(ngModel)]='tableData.ad' type="text" name="" (keydown)='keyup()'
              id="" placeholder="老项目税金不单列，并入业主批复产值中；新项目要填">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="title2">
    自开工累计
  </div>
  <div class="title3 content">
    <div class="content-name flex-2">
      业主批复金额
    </div>
    <div class="content-div flex-4">
      <div>
        <div class="content-name flex-2">
          <p>不含税金业主批复金额</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" (blur)='verifyNum(tableData.ae,"ae")' type="text" [(ngModel)]='tableData.ae' name="" id="" (keydown)='keyup()'>
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>税金</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" type="text" (blur)='verifyNum(tableData.af,"af")' [(ngModel)]='tableData.af' name="" (keydown)='keyup()'
              id="" placeholder="老项目税金不单列，并入业主批复产值中；新项目要填">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="title3 content height-4">
    <div class="content-name flex-2">
      其中
    </div>
    <div class="content-div flex-4">
      <div>
        <div class="content-name flex-2">
          <p>按合同应收工程款</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" type="text" (blur)='verifyNum(tableData.ag,"ag")' [(ngModel)]='tableData.ag' name="" (keydown)='keyup()'
              id="">
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>已收工程款</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" type="text" (blur)='verifyNum(tableData.ah,"ah")' [(ngModel)]='tableData.ah' name="" id="" (keydown)='keyup()'
              placeholder="">
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>项目部已支付工程款</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" type="text" (blur)='verifyNum(tableData.ai,"ai")' [(ngModel)]='tableData.ai' name="" id="" (keydown)='keyup()'
              placeholder="">
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>资金占用费(资金利息）</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="14" type="text" (blur)='verifyNum(tableData.aj,"aj")' [(ngModel)]='tableData.aj' name="" (keydown)='keyup()'
              id="" placeholder="">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="title1">
  期中结算未确认部分
</div>
<div class="title1-content">
  <div class="title3 content">
    <div class="content-name flex-2">
      已上报正在审批中的目标值
    </div>
    <div class="content-div flex-4">
      <div>
        <div class="content-name flex-2">
          <p>自年初累计</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" (blur)='verifyNum(tableData.ak,"ak")' type="text" name="" id="" [(ngModel)]='tableData.ak' (keydown)='keyup()'>
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>自开工累计</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="13" (blur)='verifyNum(tableData.al,"al")' type="text" name="" id="" placeholder="" [(ngModel)]='tableData.al'
              (keydown)='keyup()'>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-name flex-2">开工累计未达到计量条件的产值</div>
    <div class="content-input flex-4">
      <input maxlength="13" type="text" placeholder="如果小于等于，这个数据填0" [(ngModel)]='tableData.am' (blur)='verifyNum(tableData.am,"am")'
        (keydown)='keyup()'>
    </div>
  </div>
</div>
<div class="title1">
  期中结算报送、批复份数
</div>
<div class="title1-content">
  <div class="title3 content">
    <div class="content-name flex-2">
      自年初累计
    </div>
    <div class="content-div flex-4">
      <div>
        <div class="content-name flex-2">
          <p>报送期数</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="4" type="text" name="" id="" [(ngModel)]='tableData.an'>
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>批复期数</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="4" type="text" name="" id="" placeholder="" [(ngModel)]='tableData.ao'>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="title3 content">
    <div class="content-name flex-2">
      自开工累计
    </div>
    <div class="content-div flex-4">
      <div>
        <div class="content-name flex-2">
          <p>报送期数</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="4" type="text" name="" id="" [(ngModel)]='tableData.ap'>
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>批复期数</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input maxlength="4" type="text" name="" id="" placeholder="" [(ngModel)]='tableData.aq'>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title1">
  成本及税金
</div>
<div class="title1-content">
  <div class="title3 content">
    <!-- <div class="content-name flex-2">
      当月
    </div> -->
    <div class="content-div flex-4">
      <div>
        <div class="content-name flex-2">
          <p>当月</p>
        </div>
        <div class="content-name flex-2">
          <p>项目实际成本及税金</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input type="text" name="" id="" [(ngModel)]='tableData.ar'>
          </p>
        </div>
      </div>
      <div>
        <div class="content-name flex-2">
          <p>自开工累计</p>
        </div>
        <div class="content-name flex-2">
          <p>项目实际成本及税金</p>
        </div>
        <div class="flex-4 content-input">
          <p>
            <input type="text" name="" id="" placeholder="" [(ngModel)]='tableData.as1'>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="file" name="" multiple (change)='uploadFile($event)' id="file">
<div class="fileList">
  <div *ngFor='let i of docList;let index = index;' class="fileDiv">
    {{i.key | getFileName}}
    <button (click)='downLoad(i.path)' class="download-btn">下载</button>
    <button (click)='delete(i,index)' class="delete-btn">删除</button>
  </div>
</div>
<div class="imgList">
  <div class="imgDiv" *ngFor='let i of imgList;let index = index'>
    <a (click)='del(i,index)'></a>
    <img [src]="i.thumbnail" alt="" (click)='openImg(i.path)'>
  </div>
</div>
<div class="button-div">
  <button class="btn btn-primary btn-block" (click)='submit()'>提交</button>
</div>