<div class="title">
  <span>项目编码</span>
  <input type="text">
  <span>本次报告时间</span>
  <input type="date" name="" id=""> 第
  <input type="text">次填报
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th rowspan="6">合同</th>
      <th>合同编号</th>
      <td>
        <input type="text" placeholder="与合同一致">
      </td>
      <th>签订日期</th>
      <td>
        <input type="text" placeholder="与合同一致">
      </td>
    </tr>
    <tr>
      <th>初始风险等级</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>目前风险等级</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>评审层级</th>
      <td colspan="3">
        <input type="checkbox" name="" id="">股份公司
        <input type="checkbox" name="" id="">局
        <input type="checkbox" name="" id="">公司
      </td>
    </tr>
    <tr>
      <th>签订层级</th>
      <td colspan="3">
        <input type="checkbox" name="" id="">股份公司
        <input type="checkbox" name="" id="">局
        <input type="checkbox" name="" id="">公司
      </td>
    </tr>
    <tr>
      <th>原合同额</th>
      <td>
        <input type="text" placeholder="与合同一致">
      </td>
      <th>自开工至上月累计合同额</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>本月新签合同额</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>自开工至本月累计合同额</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
  </table>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th rowspan="7">工期</th>
      <th>合同开工日期</th>
      <td>
        <input type="text" placeholder="与合同一致">
      </td>
      <th>合同竣工日期</th>
      <td>
        <input type="text" placeholder="与合同一致">
      </td>
      <th>合同总工期</th>
      <td>
        <input type="text" placeholder="与合同一致">
      </td>
    </tr>
    <tr>
      <th>实际开工日期</th>
      <td>
        <input type="text" placeholder="与批准的施工进度计划一致">
      </td>
      <th>预计竣工日期</th>
      <td>
        <input type="text" placeholder="与批准的施工进度计划一致">
      </td>
      <th>预计总工期</th>
      <td>
        <input type="text" placeholder="与批准的施工进度计划一致">
      </td>
    </tr>
    <tr>
      <th>业主调整工期（含签证）</th>
      <td colspan="5">
        <input type="checkbox" name="" id="">增加
        <input type="checkbox" name="" id="">缩短
      </td>
    </tr>
    <tr>
      <th>调整后总工期</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th colspan="3">调整后竣工日期</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>已办理未批准天数</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th colspan="3">其中：已明确不批准天数</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>施工进展天数</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th colspan="3">占合同总工期</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>占预计总工期</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th colspan="3">占调整后总工期</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
  </table>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th rowspan="2">
        质量
      </th>
      <th>
        合同约定质量等级
      </th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>
        已经验收并签署的主要分部工程质量情况
      </th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>
        已（竣）完工工程的总体质量情况
      </th>
      <td colspan="3">
        <input type="text" placeholder="">
      </td>
    </tr>
  </table>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th rowspan="7">签证索赔</th>
      <th colspan="2">本月已获批准的费用签证索赔</th>
      <th>份数</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>金额</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th colspan="2">自开工累计已获批准的费用签证索赔</th>
      <th>份数</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>金额</th>
      <td>
        <input type="text" placeholder="分两部分1、事项、费用均已确认2、事项确认，费用预估">
      </td>
    </tr>
    <tr>
      <th colspan="2">本月已报送未获批准的费用签证索赔</th>
      <th>份数</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>金额</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th colspan="2">自开工累计已报送未获批准的费用签证索赔</th>
      <th>份数</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>金额</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th colspan="2">本月尚未办理的费用签证索赔</th>
      <th>份数</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>金额</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th colspan="2">自开工累计尚未办理的费用签证索赔</th>
      <th>份数</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>金额</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
  </table>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th rowspan="9">履约及违规风险</th>
      <th>依合同已延误工期</th>
      <td>
        <input type="text" placeholder="与“工期”一栏填写一致">
      </td>
      <th>逾期违约金额</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>已确认工期违约金合计</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>或有工期违约金合计</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>质量违约处罚（含保函）</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>已确认质量违约处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>安全违约处罚（含保函）</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>已确认安全违约处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>环保违规处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>已确认安全违约处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>维稳违规处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>已确认安全违约处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>廉政建设处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>已确认安全违约处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>拖欠农民工工资处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>已确认拖欠农民工工资处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>其它违约处罚（含保函）</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>已确认其它违约处罚</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
  </table>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th rowspan="4">产值</th>
      <th>本月计划产值</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>本月实际完成产值</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>完成率</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>自开工累计计划产值</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>自开工累计实际完成产值</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>完成率</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>自年初累计计划产值</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>自年初累计完成产值</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>完成率</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>产值未完成原因</th>
      <td colspan="3">
        <input type="text" placeholder="简单描述原因">
      </td>
      <th>下月计划产值</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
  </table>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th rowspan="3">计量</th>
      <th>本月向业主报送产值</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>上月业主确认收入</th>
      <td>
        <input type="text" placeholder="列明业主确认的为哪一期计量">
      </td>
      <th>上月确认率</th>
      <td>
        <input type="text" placeholder="业主审批/报送金额">
      </td>
    </tr>
    <tr>
      <th>自开工累计向业主报送产</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>自开工累计业主确认收入</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>完成率</th>
      <td>
        <input type="text" placeholder="业主审批/报送金额">
      </td>
    </tr>
    <tr>
      <th>财务列收</th>
      <td colspan="2">
        <input type="text" placeholder="开累">
      </td>
      <th>下月计划收入</th>
      <td colspan="2">
        <input type="text" placeholder="">
      </td>
    </tr>
  </table>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th rowspan="12">工程款</th>
      <th>按合同本月工程款应收时间</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>本月实际收取工程款时间</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>工程款支付时间（月合同约定）</th>
      <td colspan="3">
        <input type="checkbox" name="" id="">提前
        <input type="number" name="" id="">天
        <input type="checkbox" name="" id="">正常
        <input type="checkbox" name="" id="">滞后
        <input type="number" name="" id="">天
      </td>
    </tr>
    <tr>
      <th>按合同本月应收工程款</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>本月实际收取工程款</th>
      <td>
        <input type="text" placeholder="（单位：万元）">
      </td>
    </tr>
    <tr>
      <th>合同支付比例</th>
      <td>
        <input type="text" placeholder="（施工合同约定比例）">
      </td>
      <th>本月收款比例</th>
      <td>
        <input type="text" placeholder="（单位：%）">
      </td>
    </tr>
    <tr>
      <th>本月工程款支付比例与合同约定比例</th>
      <td colspan="3">
        <input type="checkbox" name="" id="">超
        <input type="number" name="" id="">%
        <input type="checkbox" name="" id="">正常
        <input type="checkbox" name="" id="">少
      </td>
    </tr>
    <tr>
      <th>本月工程款支付金额与合同约定金额</th>
      <td colspan="3">
        <input type="checkbox" name="" id="">超
        <input type="number" name="" id="">万元
        <input type="checkbox" name="" id="">正常
        <input type="checkbox" name="" id="">少
      </td>
    </tr>
    <tr>
      <th>按合同自开工累计应收工程款</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>自开工累计收取工程款</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>自开工累计超（少）付款额度</th>
      <td>
        <input type="text" placeholder="单位：万元">
      </td>
      <th>本月实际收取工程款</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>自开工累计收款比例与合同约定比例</th>
      <td colspan="3">
        <input type="checkbox" name="" id="">超
        <input type="number" name="" id="">%
        <input type="checkbox" name="" id="">正常
        <input type="checkbox" name="" id="">少
      </td>
    </tr>
    <tr>
      <th>自开工累计收款金额与合同约定金额</th>
      <td colspan="3">
        <input type="checkbox" name="" id="">超
        <input type="number" name="" id="">万元
        <input type="checkbox" name="" id="">正常
        <input type="checkbox" name="" id="">少
      </td>
    </tr>
    <tr>
      <th>自开工累计收取工程款相对于自开工累计完成产值的比例</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>自开工累计收取工程款相对于自开工累计业主确认收入的比例</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
    <tr>
      <th>自开工累计收取工程款相对于原合同额的比例</th>
      <td>
        <input type="text" placeholder="">
      </td>
      <th>自开工累计收取工程款相对于自开工至本月累计合同额的比例</th>
      <td>
        <input type="text" placeholder="">
      </td>
    </tr>
  </table>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th rowspan="7">资金支付</th>
      <th></th>
      <th>
        本月应付（万元）
      </th>
      <th>
        本月实付 （万元）
      </th>
      <th>
        付款比例 （%）
      </th>
      <th>
        自开工累计应付（万元）
      </th>
      <th>
        自开工累计实付（万元）
      </th>
      <th>
        付款比例（%）
      </th>
    </tr>
    <tr>
      <th>
        劳务分包
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
    </tr>
    <tr>
      <th>
        专业分包
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
    </tr>
    <tr>
      <th>
        材料款
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
    </tr>
    <tr>
      <th>
        设备款
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
    </tr>
    <tr>
      <th>
        其它
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
    </tr>
    <tr>
      <th>
        合计
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
    </tr>
  </table>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th rowspan="8">计量</th>
      <th rowspan="5">依合同向分包索赔</th>
      <th>依合同分包已延误工期</th>
      <th>
        <input type="text">天
      </th>
      <th>逾期违约金额</th>
      <th>
        <input type="text">元或元/天
      </th>
    </tr>
    <tr>
      <th>已确认工期违约金</th>
      <th>
        <input type="text">
      </th>
      <th>或有工期违约金</th>
      <th>
        <input type="text">
      </th>
    </tr>
    <tr>
      <th>已确认质量违约金</th>
      <th>
        <input type="text">
      </th>
      <th>或有质量违约金</th>
      <th>
        <input type="text">
      </th>
    </tr>
    <tr>
      <th>已确认安全违约金</th>
      <th>
        <input type="text">
      </th>
      <th>或有安全违约金</th>
      <th>
        <input type="text">
      </th>
    </tr>
    <tr>
      <th>已确认其它违约金</th>
      <th>
        <input type="text">
      </th>
      <th>或有其它违约金</th>
      <th>
        <input type="text">
      </th>
    </tr>
    <tr>
      <th rowspan="3">依合同分包反索赔</th>
      <th>依合同已延误分包工期</th>
      <th>
        <input type="text">天
      </th>
      <th>延误工期违约金额</th>
      <th>
        <input type="text">元或元/天
      </th>
    </tr>
    <tr>
      <th>已确认工期违约金</th>
      <th>
        <input type="text">
      </th>
      <th>或有工期违约金</th>
      <th>
        <input type="text">
      </th>
    </tr>
    <tr>
      <th>已确认其它违约金</th>
      <th>
        <input type="text">
      </th>
      <th>或有其它违约金</th>
      <th>
        <input type="text">
      </th>
    </tr>
  </table>
</div>
<div class='table-div'>
  <table border="1">
    <tr>
      <th>
        风险化解情况
      </th>
      <td>
        <input type="text" placeholder="列举项目风险点及化解措施">
      </td>
    </tr>
  </table>
</div>
<div class='table-div'>
  <table border="1">
    <tr>
      <th rowspan="5">
        四个100%落实情况
      </th>
      <th>
        项目策划
      </th>
      <td colspan="4">
        <input type="checkbox" name="" id="">已编制策划书
        <input type="checkbox" name="" id="">未编制策划书
      </td>
    </tr>
    <tr>
      <th>
        责任书签订
      </th>
      <th>
        签订时间
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
      <th>
        约定上交利润率
      </th>
      <th>
        <input type="text" placeholder="">
      </th>
    </tr>
    <tr>
      <th>
        风险抵押金缴纳情况
      </th>
      <th>
        已交纳金额
      </th>
      <th>
        <input type="text" placeholder="若为分批次缴纳，则需注明">
      </th>
      <th>
        交纳比例(%)
      </th>
      <th>
        <input type="text" placeholder="若为分批次缴纳，则需注明">
      </th>
    </tr>
    <tr>
      <th rowspan="2">
        项目节点考核情况
      </th>
      <th>
        考核节点名称
      </th>
      <th>
        <input type="text" placeholder="若有多次考核，需一一表述">
      </th>
      <th>
        考核时间
      </th>
      <th>
        <input type="text" placeholder="若有多次考核，需一一表述">
      </th>
    </tr>
    <tr>
      <th>
        考核评估
      </th>
      <th colspan="3">
        <input type="checkbox" name="" id="">风险较大
        <input type="checkbox" name="" id="">风险一般
        <input type="checkbox" name="" id="">风险较小
        <input type="checkbox" name="" id="">正常
      </th>
    </tr>
  </table>
</div>
<div class='table-div'>
  <table border="1">
    <tr>
      <th rowspan="4" colspan="1" style="width: 138px;">
        四坚持一推进执行及落实情况
      </th>
      <th style="width: 138px;">
        月度经济活动分析会
      </th>
      <td>
        <input type="text" placeholder="列明数据分析">
      </td>
    </tr>
    <tr>
      <th style="width: 138px;">
        坚持存货月度盘点，季度考核
      </th>
      <td>
        <input type="text" placeholder="列明数据分析">
      </td>
    </tr>
    <tr>
      <th style="width: 138px;">
        分包分供月结月清，年度终结
      </th>
      <td>
        <input type="text" placeholder="截止xx月xx日，累计办理分包分供xx份，累计结算金额xx万元；本月办理分包分供xx份，结算金额xx万元">
      </td>
    </tr>
    <tr>
      <th style="width: 138px;">
        钢筋精细化推进情况
      </th>
      <td>
        <input type="text" placeholder="列明月度翻样吨数，开累翻样吨数，预计经济效益，开累损耗情况">
      </td>
    </tr>
  </table>
</div>
<div class="title1-content">
  <div class="content textarea">
    <div class="content-name flex-2">需企业解决的问题</div>
    <div class="content-input flex-4">
      <textarea  maxlength="1000"></textarea>
    </div>
  </div>
  <div class="content textarea">
      <div class="content-name flex-2">其他需说明的问题</div>
      <div class="content-input flex-4">
        <textarea  maxlength="1000"></textarea>
      </div>
    </div>
</div>
<div class="button-div">
  <button class="btn btn-primary btn-block">提交</button>
  <p>21号前，可以重复编辑提交</p>
</div>