.table-div table{
    width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

.table-div table input{
    border: none;
    width: 100%;
    padding: 0 10px;
    height: 100%;
    outline: none;
}

.table-div table tr{
    height: 40px;
}

.table-div table input[type='checkbox']{
    width: 15px;
    border: solid 1px #ccc;
    height: 20px;
    vertical-align: middle;
    margin: 0 10px 0 20px;
}

.table-div table input[type='number']{
    width: 30px;
}

.title{
    width: 900px;
    text-align: center;
}