<!-- <div class="title">
  <span>表格编号</span>
  <input type="text">
</div> -->
<div class="table-div">
  <table border="1">
    <tr>
      <th>
        分包企业名称
      </th>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.info11'>
      </td>
      <th>
        分包企业编码
      </th>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.info12'>
      </td>
    </tr>
    <tr>
      <th>
        分包合同名称
      </th>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.info22'>
      </td>
      <th>
        分包范围
      </th>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.info31'>
      </td>
    </tr>
    <tr>
      <th>考核周期</th>
      <td>
        <input type="radio" [value]='1' name="info41" id="" [(ngModel)]='tableData.info41'>月度
        <input type="radio" [value]='2' name="info41" id="" [(ngModel)]='tableData.info41'>完工
      </td>
      <th>
        考核时间
      </th>
      <td>
        <input type="date" placeholder="" [(ngModel)]='tableData.info42'>
      </td>
    </tr>
  </table>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <th colspan="2">
        考核指标及权重
      </th>
      <th >
        考核内容及评分标准
      </th>
      <th>
        得分
      </th>
      <th>
        考核部门/考评人
      </th>
    </tr>
    <tr>
      <th rowspan="3">
        资源配置（24分）
      </th>
      <td>
        人员情况（8分）
      </td>
      <td >
        按合同约定管理人员配备齐全，劳动力充足得8分；管理人员、劳动力略有不足但未影响施工扣3分，管理人员、劳动力严重不足得0分。
      </td>
      <td class="table-small">
        <input type="number" placeholder="" [(ngModel)]='tableData.resource11'>
      </td>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.resource12'>
      </td>
    </tr>
    <tr>
      <td>
        装备能力（8分）
      </td>
      <td >
        机械设备、周转材料、施工器具配备齐全，性能良好，满足施工需求得8分，施工装备略有不足但未影响施工扣3分，施工装备严重不足得0分。
      </td>
      <td class="table-small">
        <input type="number" placeholder="" [(ngModel)]='tableData.resource21'>
      </td>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.resource22'>
      </td>
    </tr>
    <tr>
      <td>
        资金能力（8分）
      </td>
      <td >
        满足施工生产需要得8分；因资金原因影响施工扣3分，严重影响施工的得0分。
      </td>
      <td class="table-small">
        <input type="number" placeholder="" [(ngModel)]='tableData.resource31'>
      </td>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.resource32'>
      </td>
    </tr>
    <tr>
      <th rowspan="7">
        履约评价（76分）
      </th>
      <td>
        施工工期（15分）
      </td>
      <td >
        符合合同约定或月度进度计划需求得15分，工期滞后3天得10分，滞后4-6天得7分，滞后7天以上得0分。
      </td>
      <td class="table-small">
        <input type="number" placeholder="" [(ngModel)]='tableData.assess11'>
      </td>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.assess12'>
      </td>
    </tr>
    <tr>
      <td>
        安全生产（12分）
      </td>
      <td >
        考核期内发生轻伤事故一次扣6分，发生重伤、亡人及较大等级及以上安全事故该项得0分，被相关单位下发安全整改通知单，每次扣2分；安全隐患整改后不达标的，未达标项每项扣1分。
      </td>
      <td class="table-small">
        <input type="number" placeholder="" [(ngModel)]='tableData.assess21'>
      </td>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.assess22'>
      </td>
    </tr>
    <tr>
      <td>
        施工质量（12分）
      </td>
      <td >
        考核期内发生一般质量问题一次扣2分，发生等级以上质量事故该项得0分，被相关单位下发整改通知单，每次扣2分；质量隐患整改后不达标的，未达标项每项扣1分。
      </td>
      <td class="table-small">
        <input type="number" placeholder="" [(ngModel)]='tableData.assess31'>
      </td>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.assess32'>
      </td>
    </tr>
    <tr>
      <td>
        文明施工（10分）
      </td>
      <td >
        现场整洁、工人着装等每存在一项不合格扣2分；现场材料堆放、标识及成品保护等每项不合格扣2分；生活区卫生不合格一处扣1分。
      </td>
      <td class="table-small">
        <input type="number" placeholder="" [(ngModel)]='tableData.assess41'>
      </td>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.assess42'>
      </td>
    </tr>
    <tr>
      <td>
        商务结算（10分）
      </td>
      <td >
        能够配合项目开展“月结月清、年度终结”工作得10分，每发现1处结算资料弄虚作假扣5分，不配合的得0分。
      </td>
      <td class="table-small">
        <input type="number" placeholder="" [(ngModel)]='tableData.assess51'>
      </td>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.assess52'>
      </td>
    </tr>
    <tr>
      <td>
        劳务实名制（10分）
      </td>
      <td >
        落实劳务实名制得10分，未及时更新劳务作业人花名册扣3分，考勤及工资发放记录不完整扣5分，劳务作业人员工资支付不及时扣5分，出现因欠薪导致聚众闹事、集体上访的得0分。 </td>
      <td class="table-small">
        <input type="number" placeholder="" [(ngModel)]='tableData.assess61'>
      </td>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.assess62'>
      </td>
    </tr>
    <tr>
      <td>
        工作配合（7分）
      </td>
      <td >
        服从项目部安排和指挥，与其他分包单位配合有序，各班组、工种、工序衔接顺畅得7分，与项目部人员和其他分包单位产生纠纷，发现1起扣3分，严重影响项目部信誉得0分。
      </td>
      <td class="table-small">
        <input type="number" placeholder="" [(ngModel)]='tableData.assess71'>
      </td>
      <td>
        <input type="text" placeholder="" [(ngModel)]='tableData.assess72'>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        动态评价得分（100分）
      </td>
      <td colspan="2">
        {{score1(tableData.resource11,tableData.resource21,tableData.resource31,tableData.assess11,tableData.assess21,tableData.assess31,tableData.assess41,tableData.assess51,tableData.assess61,tableData.assess71)}}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        评价结果
      </td>
      <td colspan="3">
       {{result()}}
      </td>
    </tr>

  </table>

  <table border="1" class="table-last">
    <tr>
      <td>
        项目总工
      </td>
      <td>
        <input type="text" [(ngModel)]='tableData.manager11'>
      </td>
      <td>
        商务经理
      </td>
      <td>
        <input type="text" [(ngModel)]='tableData.manager12'>
      </td>
      <td>
        生产经理
      </td>
      <td>
        <input type="text" [(ngModel)]='tableData.manager13'>
      </td>
      <td>
        项目经理
      </td>
      <td>
        <input type="text" [(ngModel)]='tableData.manager14'>
      </td>
    </tr>
  </table>
</div>
<div class="button-div">
  <button class="btn btn-primary btn-block" (click)='submit()'>提交</button>
</div>