input[type=radio] {
    height: 15px;
    width: 15px;
    margin-right: 7px;
    margin-top: -2px;
    margin-left: 13px;
    vertical-align: middle;
}

.table-last tr td:nth-child(odd) {
    width: 100px;
}

.table-small {
    width: 50px;
    padding: 0
}

input[type=number] {
    width: 50px !important;
    text-align: center;
    height: 20px;
    cursor: pointer;
}