<div class="login">
  <!-- <img src="../../assets/images/login.jpg" alt=""> -->
  <div class="login-div">
    <p class="login-title">
      登录
    </p>
    <p class="login-input {{phoneError?'login-input-error':''}}">
      <a class="login-icon"></a>
      <input type="text" maxlength="11" placeholder="请输入手机号码" [(ngModel)]="phone" (blur)="verify('phone')">
      
    </p>
    <p *ngIf='phoneError' class="login-error">
      请输入正确的手机号码
    </p>
    <p class="login-input">
      <a class="login-icon login-icon-code"></a>
      <input type="password" placeholder="请输入密码" [(ngModel)]="loginCode" (blur)="verify('code')">
      <!-- <button class="btn btn-primary btn-sm code-btn" (click)="getLoginCode()">{{codeTip}}</button> -->
    </p>
    <p *ngIf='codeError' class="login-error">
        请输入正确的密码
      </p>
    <p class="login-button">
      <button class="btn btn-primary btn-block" (click)='login()'>登录</button>
    </p>
  </div>
</div>