<div class="add-table" [@heroState]="state">
  <div class="title1">
    项目分包分供合同未结算情况统计表
  </div>
  <div class="title1-content">
    <div class="content">
      <div class="content-name">分类</div>
      <div class="content-input">
        <span>{{detail.adesc}}</span>
      </div>
      <div class="content-name">分包分供合同名称</div>
      <div class="content-input">
        <span>{{detail.b}}</span>
      </div>
    </div>
    <div class="content">
      <div class="content-name">分包分供单位名称</div>
      <div class="content-input">
        <span>{{detail.c}}</span>
      </div>
      <div class="content-name">合同额 </div>
      <div class="content-input">
        <span>{{detail.d}}</span>
      </div>
    </div>
    <div class="content">
      <div class="content-name">已完成分包分供中间结算金额</div>
      <div class="content-input">
        <input type="number" name="" id="" placeholder="" [(ngModel)]='detail.i2'>
      </div>
      <div class="content-name">已支付工程款</div>
      <div class="content-input">
        <input type="number" name="" id="" [(ngModel)]='detail.j2'>
      </div>
    </div>
    <div class="content">
      <div class="content-name">预计最终结算金额</div>
      <div class="content-input">
        <input type="number" name="" id="" [(ngModel)]='detail.k2'>
      </div>
      <div class="content-name">按合同约定结算时间</div>
      <div class="content-input">
        <input type="date" name="" id="" [(ngModel)]='detail.l2'>
      </div>
    </div>
    <div class="content">
      <div class="content-name">截止目前结算已延迟时间</div>
      <div class="content-input">
        <input type="text" name="" id="" [(ngModel)]='detail.m2'>
      </div>
      <div class="content-name">计划完成最终结算时间</div>
      <div class="content-input">
        <input type="date" name="" id="" [(ngModel)]='detail.n2'>
      </div>
    </div>
    <div class="content">
      <div class="content-name">未结算原因</div>
      <div class="content-input">
        <input type="text" name="" id="" [(ngModel)]='detail.o2'>
      </div>
      <div class="content-name">计划采取措施</div>
      <div class="content-input">
        <input type="text" name="" id="" [(ngModel)]='detail.p2'>
      </div>
    </div>
    <div class="content">
      <div class="content-name">备注合同约定结算时间</div>
      <div class="content-input">
        <input type="text" name="" id="" [(ngModel)]='detail.q2'>
      </div>
    </div>
  </div>
  <div class="button-div">
    <button class="btn btn-primary btn-block" (click)='submit()'>提交</button>
  </div>
</div>
<div class="table-div">
  <table border="1">
    <tr>
      <td>
        操作
      </td>
      <td>
        分类
      </td>
      <td>
        分包分供合同名称
      </td>
      <td>
        分包分供单位名称
      </td>
      <td>
        合同额
      </td>
      <td>
        已完成分包分供中间结算金额
      </td>
      <td>
        已支付工程款
      </td>
      <td>
        预计最终结算金额
      </td>
      <td>
        按合同约定结算时间
      </td>
      <td>
        截止目前结算已延迟时间
      </td>
      <td>
        计划完成最终结算时间
      </td>
      <td>
        未结算原因
      </td>
      <td>
        计划采取措施
      </td>
      <td>
        备注合同约定结算时间
      </td>
    </tr>
    <tr *ngFor='let a of list'>
      <td (click)='edit(a)' class="edit">
        补充
      </td>
      <td>{{a.adesc}}</td>
      <td>{{a.b}}</td>
      <td>{{a.c}}</td>
      <td>{{a.d}}</td>
      <td>{{a.i2}}</td>
      <td>{{a.j2}}</td>
      <td>{{a.k2}}</td>
      <td>{{a.l2}}</td>
      <td>{{a.m2}}</td>
      <td>{{a.n2}}</td>
      <td>{{a.o2}}</td>
      <td>{{a.p2}}</td>
      <td>{{a.q2}}</td>
    </tr>
  </table>
</div>