<div class="main">
  <div class="main-div" *ngIf='hasProject'>
    <alert *ngIf='alertDiv' type="danger" class="alert-div">
      <strong>提示!</strong>请输入正确的数据格式
    </alert>
    <div class="title">
      项目：
      <select [(ngModel)]='projectValue' (change)='changeProject()'>
        <option *ngFor="let i of projectList" [value]="i.value">{{i.text}}</option>
      </select>
      时间：
      <select [(ngModel)]='dateType' (change)='changeType()'>
        <option [value]="1">季度</option>
        <option [value]="2">月份</option>
        <!-- <option [value]="3">周</option> -->
        <option [value]="4">台账</option>
      </select>
      表格：
      <select [(ngModel)]='tableValue' (change)='change()'>
        <option *ngFor="let i of showTableList" [value]="i.alias">{{i.tableName}}</option>
      </select>
    </div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <div class="empty" *ngIf='!hasProject'>
    <img src="../../assets/images/empty.png" alt="">
    <p>当前没有项目，刷新试试</p>
  </div>
</div>