<div class="main">
  <div class="main-div">
    <div class="title">
      项目名：
      <select name="" id=""></select>
    </div>
    <div class="title1">
      项目基本情况
    </div>
    <div class="title1-content">
      <div class="content">
        <div class="content-name">合同额（万元）</div>
        <div class="content-input">
          <input type="text" name="" id="" placeholder="保留小数后4位">
        </div>
        <div class="content-name">业主名称</div>
        <div class="content-input">
          <input type="text" name="" id="">
        </div>
      </div>
      <div class="content">
        <div class="content-name">工程地点</div>
        <div class="content-input">
          <input type="text" name="" id="">
        </div>
        <div class="content-name">经营类型</div>
        <div class="content-input">
          <select name="" id="">
            <option value="" selected>自营</option>
            <option value="">合作</option>
          </select>
        </div>
      </div>
      <div class="content">
        <div class="content-name">合同价格形式</div>
        <div class="content-input">
          <select name="" id="">
            <option value="" selected>定额计价</option>
            <option value="">清单计价</option>
            <option value="">总价</option>
            <option value="">其他</option>
          </select>
        </div>
        <div class="content-name">计量支付方式</div>
        <div class="content-input">
          <select name="" id="">
            <option value="" selected>月</option>
            <option value="">节点</option>
          </select>
        </div>
      </div>
      <div class="content">
        <div class="content-name">支付比例（%）</div>
        <div class="content-input">
          <input type="text" name="" id="">
        </div>
        <div class="content-name">合同开工时间</div>
        <div class="content-input">
          <input type="text" name="" id="" placeholder="8位数字，如20140525" maxlength="8">
        </div>
      </div>
      <div class="content">
        <div class="content-name">实际开工时间</div>
        <div class="content-input">
          <input type="text" name="" id="" placeholder="8位数字，如20140525" maxlength="8">
        </div>
        <div class="content-name">计划竣工时间</div>
        <div class="content-input">
          <input type="text" name="" id="" placeholder="8位数字，如20140525" maxlength="8">
        </div>
      </div>
    </div>
    <div class="title1">
      施工图预算编制
    </div>
    <div class="title1-content">
      <div class="content">
        <div class="content-name">收到施工图日期</div>
        <div class="content-input">
          <input type="text" name="" id="" placeholder="8位数字，如20140525" maxlength="8">
        </div>
      </div>
      <div class="content">
        <div class="content-name">施工图预算编制状态</div>
        <div class="content-input flex-2">
          <select name="" id="">
            <option value="" selected>已编制</option>
            <option value="">正在编制</option>
            <option value="">未编制</option>
          </select>
        </div>
        <div class="content-name">未编制原因</div>
        <div class="content-input flex-4">
          <input type="text" name="" id="">
        </div>
      </div>
      <div class="content">
        <div class="content-name">施工图预算核对情况</div>
        <div class="content-input flex-2">
          <select name="" id="">
            <option value="" selected>核对完毕</option>
            <option value="">正在核对</option>
            <option value="">未核对</option>
          </select>
        </div>
        <div class="content-name">施工图预算未核对原因</div>
        <div class="content-input flex-4">
          <input type="text" name="" id="">
        </div>
      </div>
    </div>
    <div class="title1">
      营业收入情况
    </div>
    <div class="title1-content">
      <div class="content no-height">
        <div class="content-name flex-2">形象进度</div>
        <div class="content-input flex-4">
          <p contenteditable="true" class="edit-p"></p>
        </div>
      </div>
      <div class="title2">
        当月
      </div>
      <div class="content">
        <div class="content-name flex-2">实际完成产值</div>
        <div class="content-input flex-4">
          <input type="text" placeholder="指按照合同约定的计价方式计算的当月实际完成产值">
        </div>
      </div>
      <div class="title2">
        自年初累计
      </div>
      <div class="title3 content">
        <div class="content-name flex-2">
          实际完成产值
        </div>
        <div class="content-div flex-4">
          <div>
            <div class="content-name flex-2">
              <p>不含税实际完成产值</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>税金</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="" placeholder="老项目税金不单列，并入实际完成产值中；新项目要填">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title2">
        自开工累计
      </div>
      <div class="title3 content">
        <div class="content-name flex-2">
          财务账面主营业务收入+税金
        </div>
        <div class="content-div flex-4">
          <div>
            <div class="content-name flex-2">
              <p>主营业务收入</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>税金</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-name flex-2">工程结算科目</div>
        <div class="content-input flex-4">
          <input type="text">
        </div>
      </div>
      <div class="title3 content">
        <div class="content-name flex-2">
          实际完成产值
        </div>
        <div class="content-div flex-4">
          <div>
            <div class="content-name flex-2">
              <p>不含税实际完成产值</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>税金</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="" placeholder="老项目税金不单列，并入实际完成产值中；新项目要填">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="title1">
      业主确认期中结算情况
    </div>
    <div class="title1-content">
      <div class="title2">
        当月
      </div>
      <div class="content">
        <div class="content-name flex-2">业主批复金额</div>
        <div class="content-input flex-4">
          <input type="text" placeholder="业主签批手续完整，能够达到财务记账的业主确认的计量。应与项目期中结算台账对应">
        </div>
      </div>
      <div class="title2">
        自年初累计
      </div>
      <div class="title3 content">
        <div class="content-name flex-2">
          业主批复金额
        </div>
        <div class="content-div flex-4">
          <div>
            <div class="content-name flex-2">
              <p>不含税金业主批复金额</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>税金</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="" placeholder="老项目税金不单列，并入业主批复产值中；新项目要填">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title2">
        自开工累计
      </div>
      <div class="title3 content">
        <div class="content-name flex-2">
          业主批复金额
        </div>
        <div class="content-div flex-4">
          <div>
            <div class="content-name flex-2">
              <p>不含税金业主批复金额</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>税金</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="" placeholder="老项目税金不单列，并入业主批复产值中；新项目要填">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title3 content height-4">
        <div class="content-name flex-2">
          其中
        </div>
        <div class="content-div flex-4">
          <div>
            <div class="content-name flex-2">
              <p>按合同应收工程款</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>已收工程款</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="" placeholder="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>项目部已支付工程款</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="" placeholder="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>资金占用费(资金利息）</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="" placeholder="">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="title1">
      期中结算未确认部分
    </div>
    <div class="title1-content">
      <div class="title3 content">
        <div class="content-name flex-2">
          已上报正在审批中的目标值
        </div>
        <div class="content-div flex-4">
          <div>
            <div class="content-name flex-2">
              <p>自年初累计</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>自开工累计</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="" placeholder="">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-name flex-2">开工累计未达到计量条件的产值</div>
        <div class="content-input flex-4">
          <input type="text" placeholder="">
        </div>
      </div>
    </div>
    <div class="title1">
      期中结算报送、批复份数
    </div>
    <div class="title1-content">
      <div class="title3 content">
        <div class="content-name flex-2">
          自年初累计
        </div>
        <div class="content-div flex-4">
          <div>
            <div class="content-name flex-2">
              <p>报送期数</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>批复期数</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="" placeholder="">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="title3 content">
        <div class="content-name flex-2">
          自开工累计
        </div>
        <div class="content-div flex-4">
          <div>
            <div class="content-name flex-2">
              <p>报送期数</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="">
              </p>
            </div>
          </div>
          <div>
            <div class="content-name flex-2">
              <p>批复期数</p>
            </div>
            <div class="flex-4 content-input">
              <p>
                <input type="text" name="" id="" placeholder="">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="title1">
      期中结算报送、批复份数
    </div>
    <div class="title1-content">
      <div class="title2">
        当月
      </div>
      <div class="content">
        <div class="content-name flex-2">项目实际成本及税金</div>
        <div class="content-input flex-4">
          <input type="text" placeholder="">
        </div>
      </div>
      <div class="title2">
        自开工累计
      </div>
      <div class="content">
        <div class="content-name flex-2">项目实际成本及税金</div>
        <div class="content-input flex-4">
          <input type="text" placeholder="">
        </div>
      </div>
    </div>

    <div class="title1-content">
      <div class="content">
        <div class="content-name flex-2">项目商务经理</div>
        <div class="content-input flex-4">
          <input type="text" placeholder="">
        </div>
        <div class="content-name flex-2">电话</div>
        <div class="content-input flex-4">
          <input type="text" placeholder="" maxlength="11">
        </div>
      </div>
      <div class="button-div">
        <button class="btn btn-primary btn-block">提交</button>
        <p>21号前，可以重复编辑提交</p>
      </div>
    </div>
  </div>
</div>