.main {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.main-div {
    width: 1200px;
    background: #fff;
    left: 50vw;
    position: relative;
    margin-left: -600px;
}

.title {
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    border: solid 1px #ccc;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 3px 13px 0px rgba(20, 74, 104, 0.14);
    margin-bottom: 20px;
}

.title select{
    margin-right: 20px;
    cursor: pointer;
    border: solid 1px #b9b9b9;
    border-radius: 5px;
    padding: 2px 15px;
}

.alert-div {
    position: fixed;
    top: 0;
    width: 1000px;
}

.empty{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.empty img {
    width: 200px;
    margin-top: 200px;
}

.empty p{
    font-size: 24px;
    margin-top: 50px;
}

.main-content{
    margin: auto;
    width: 1200px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}