<div class="main">
  <div class="main-div">
    <div class="title">
      XXXX项目名：
      <select name="" id=""></select>
    </div>
    <div class="title1">
      项目基本情况
    </div>
    <div class="title1-content">
      <div class="content">
        <div class="content-name">合同额（万元）</div>
        <div class="content-input">
          <input type="text" name="" id="" placeholder="保留小数后4位">
        </div>
        <div class="content-name">业主名称</div>
        <div class="content-input">
          <input type="text" name="" id="">
        </div>
      </div>
      <div class="content">
        <div class="content-name">工程地点</div>
        <div class="content-input">
          <input type="text" name="" id="">
        </div>
        <div class="content-name">经营类型</div>
        <div class="content-input">
          <select name="" id="">
            <option value="" selected>自营</option>
            <option value="">合作</option>
          </select>
        </div>
      </div>
      <div class="content">
        <div class="content-name">合同价格形式</div>
        <div class="content-input">
          <select name="" id="">
            <option value="" selected>定额计价</option>
            <option value="">清单计价</option>
            <option value="">总价</option>
            <option value="">其他</option>
          </select>
        </div>
        <div class="content-name">计量支付方式</div>
        <div class="content-input">
          <select name="" id="">
            <option value="" selected>月</option>
            <option value="">节点</option>
          </select>
        </div>
      </div>
      <div class="content">
        <div class="content-name">支付比例（%）</div>
        <div class="content-input">
          <input type="text" name="" id="">
        </div>
        <div class="content-name">合同开工时间</div>
        <div class="content-input">
          <input type="text" name="" id="" placeholder="8位数字，如20140525" maxlength="8">
        </div>
      </div>
      <div class="content">
        <div class="content-name">实际开工时间</div>
        <div class="content-input">
          <input type="text" name="" id="" placeholder="8位数字，如20140525" maxlength="8">
        </div>
        <div class="content-name">计划竣工时间</div>
        <div class="content-input">
          <input type="text" name="" id="" placeholder="8位数字，如20140525" maxlength="8">
        </div>
      </div>
    </div>
    <div class="title1">
      施工图预算编制
    </div>
    <div class="title1-content">
      <div class="content">
        <div class="content-name">收到施工图日期</div>
        <div class="content-input">
          <input type="text" name="" id="" placeholder="8位数字，如20140525" maxlength="8">
        </div>
      </div>
      <div class="content">
        <div class="content-name">施工图预算编制状态</div>
        <div class="content-input flex-2">
          <select name="" id="">
            <option value="" selected>已编制</option>
            <option value="">正在编制</option>
            <option value="">未编制</option>
          </select>
        </div>
        <div class="content-name">未编制原因</div>
        <div class="content-input flex-4" >
          <input type="text" name="" id="">
        </div>
      </div>
      <div class="content">
        <div class="content-name">施工图预算核对情况</div>
        <div class="content-input flex-2">
          <select name="" id="">
            <option value="" selected>核对完毕</option>
            <option value="">正在核对</option>
            <option value="">未核对</option>
          </select>
        </div>
        <div class="content-name">施工图预算未核对原因</div>
        <div class="content-input flex-4">
          <input type="text" name="" id="">
        </div>
      </div>
    </div>
  </div>
</div>