<div class="title1">
  工程统计报表
</div>
<div class="title1-content">
  <div class="content">
    <div class="content-name">施工单位</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.b'>
    </div>
    <div class="content-name">项目规模</div>
    <div class="content-input">
      <select name="" id="" [(ngModel)]='tableData.d'>
        <option value="B01特大型">B01特大型</option>
        <option value="B02大型">B02大型</option>
        <option value="B03中(小)型">B03中(小)型</option>
      </select>
    </div>
  </div>
  <div class="content">
    <div class="content-name">项目功能</div>
    <div class="content-input">
      <select name="" id="" [(ngModel)]='tableData.e'>
        <option value="C01商业">C01商业</option>
        <option value="C02环保">C02环保</option>
        <option value="C03交通能源">C03交通能源</option>
        <option value="C04工业">C04工业</option>
        <option value="C05办公">C05办公</option>
        <option value="C06体育文化">C06体育文化</option>
        <option value="C07住宅">C07住宅</option>
        <option value="C08其他">C08其他</option>
      </select>
    </div>
    <div class="content-name">工程类别</div>
    <div class="content-input">
      <select name="" id="" [(ngModel)]='tableData.f'>
        <option value="E01房屋建筑">E01房屋建筑</option>
        <option value="E02公路工程">E02公路工程</option>
        <option value="E09市政工程">E09市政工程</option>
        <option value="E10机电安装">E10机电安装</option>
        <option value="E11装饰装修">E11装饰装修</option>
        <option value="E12钢结构">E12钢结构</option>
        <option value="E13幕墙工程">E13幕墙工程</option>
        <option value="E03铁路工程">E03铁路工程</option>
        <option value="E04港口与航道">E04港口与航道</option>
        <option value="E05水利水电">E05水利水电</option>
        <option value="E06电力工程">E06电力工程</option>
        <option value="E07矿山工程">E07矿山工程</option>
        <option value="E08民航工程">E08民航工程</option>
        <option value="E14其他">E14其他</option>
      </select>
    </div>
  </div>
  <div class="content">
    <div class="content-name">承包模式</div>
    <div class="content-input">
      <select name="" id="" [(ngModel)]='tableData.g'>
        <option value="G01工程总承包">G01工程总承包</option>
        <option value="G02EPC承包">G02EPC承包</option>
        <option value="G03施工总承包">G03施工总承包</option>
        <option value="G04精细化分包">G04精细化分包</option>
        <option value="其他">其他</option>
      </select>
    </div>
    <div class="content-name">建设阶段</div>
    <div class="content-input">
      <select name="" id="" [(ngModel)]='tableData.h'>
        <option value="H01启动及准备">H01启动及准备</option>
        <option value="H02基础施工">H02基础施工</option>
        <option value="H03主体施工">H03主体施工</option>
        <option value="H04机电和装修">H04机电和装修</option>
        <option value="H05收尾交付">H05收尾交付</option>
        <option value="H06保修服务">H06保修服务</option>
        <option value="其他">其他</option>
      </select>
    </div>
  </div>
  <div class="content">
    <div class="content-name">工程地区(省)</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.i'>
    </div>
    <div class="content-name">工程地点(市）</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.j'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">工程地点（区/县）</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.k'>
    </div>
    <div class="content-name">自开工累计施工面积（㎡）</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.m'>
    </div>
  </div>
  <div class="content">
    <div class="content-name"> 已竣工面积（㎡）</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.n'>
    </div>
    <div class="content-name">单体数量</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.o'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">建筑总高度(m)</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.q'>
    </div>
    <div class="content-name">线路长度/构筑物数量(公里/座)</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.s'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">现场实施合同额</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.u'>
    </div>
    <div class="content-name">投资公司</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.v'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">投资项目公司</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.w'>
    </div>
    <div class="content-name">项目承接主体</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.y'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">总承包单位</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.z'>
    </div>
    <div class="content-name">施工许可证是否办理</div>
    <div class="content-input">
      <select name="" id="" [(ngModel)]='tableData.ad'>
        <option value="是">是</option>
        <option value="否">否</option>
      </select>
    </div>
  </div>
  <div class="content">
    <div class="content-name">总包合同是否签订</div>
    <div class="content-input">
      <select name="" id="" [(ngModel)]='tableData.ae'>
        <option value="是">是</option>
        <option value="否">否</option>
      </select>
    </div>
    <div class="content-name">重点工程</div>
    <div class="content-input">
      <select name="" id="" [(ngModel)]='tableData.ag'>
        <option value="局重点工程">局重点工程</option>
        <option value="公司重点工程">公司重点工程</option>
        <option value="其他">其他</option>
      </select>
    </div>
  </div>
  <div class="content">
    <div class="content-name">主要管理目标</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.ah'>
    </div>
    <div class="content-name">主要分包单位</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.ai'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">自开工累计完成产值</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.am'>
    </div>
    <div class="content-name">合同额完成比例</div>
    <div class="content-input">
      {{tableAN(tableData.am,tableData.t)}}
    </div>
  </div>
  <div class="content">
    <div class="content-name">合同变更调整额</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.ao'>
    </div>
    <div class="content-name">剩余合同额</div>
    <div class="content-input">
      {{tableAP(tableData.t,tableData.am,tableData.ao)}}
    </div>
  </div>
  <div class="content">
    <div class="content-name">年度计划产值</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.aq'>
    </div>
    <div class="content-name">自年初累计产值</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.ar'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">年度计划产值完成率</div>
    <div class="content-input">
      {{tableAN(tableData.ar,tableData.aq)}}
    </div>
    <div class="content-name">本月计划产值</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.at'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">本月完成产值</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.au'>
    </div>
    <div class="content-name">本月计划产值完成率</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.av'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">下月计划产值</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.aw'>
    </div>
    <div class="content-name">工程状态</div>
    <div class="content-input">
      <select name="" id="" [(ngModel)]='tableData.ax'>
        <option value="在建">在建</option>
        <option value="停工">停工</option>
        <option value="冬歇">冬歇</option>
        <option value="其他">其他</option>
      </select>
    </div>
  </div>
  <div class="content">
    <div class="content-name">工期履约状态</div>
    <div class="content-input">
      <select name="" id="" [(ngModel)]='tableData.ay'>
        <option value="提前">提前</option>
        <option value="正常">正常</option>
        <option value="一般延误(<10天)">一般延误(
          <10天）</option>
            <option value="一般延误(10-30天)">一般延误(10-30天)</option>
            <option value="严重延误(>30天)">严重延误(>30天)</option>
      </select>
    </div>
    <div class="content-name">本月提前/延误（天）</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.az'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">累计提前/延误（天）</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.ba'>
    </div>
    <div class="content-name">工期签证（天）</div>
    <div class="content-input">
      <input type="number" name="" id="" [(ngModel)]='tableData.bb'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">工期延误主要原因</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.bc'>
    </div>
    <div class="content-name">月度产值计划未完成主要原因</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.bd'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">项目大事记</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.be'>
    </div>
    <div class="content-name">存在的主要问题</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.bf'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">急需企业层面解决的主要事项</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.bg'>
    </div>
    <div class="content-name">期末形象进度简述</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.bi'>
    </div>
  </div>
  <div class="content">
    <div class="content-name">备注</div>
    <div class="content-input">
      <input type="text" name="" id="" [(ngModel)]='tableData.bj'>
    </div>
  </div>
</div>
<div class="button-div">
  <button class="btn btn-primary btn-block" (click)='submit()'>提交</button>
</div>