<div class="title1">
  存货月度盘点情况（本月结余）
</div>
<div class="title1-content">
  <div class="title2">
    已完工尚未结算款
  </div>
  <div class="content">
    <div class="content-name">已完未结</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="保留小数后4位"
        maxlength="13">
    </div>
  </div>
  <div class="title2">
    物资盘点
  </div>
  <div class="content">
    <div class="content-name">原材料</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="保留小数后4位"
        maxlength="13">
    </div>
    <div class="content-name">周转材料</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="保留小数后4位"
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">低值易耗品及其他</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="保留小数后4位"
        maxlength="13">
    </div>
    <div class="content-name">半成品</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="保留小数后4位"
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">待摊周转材料</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="保留小数后4位"
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">小计</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="保留小数后4位"
        maxlength="13">
    </div>
  </div>
</div>
<div class="title1">
  降低应收账款
</div>
<div class="title1-content">
  <div class="content">
    <div class="content-name">物资盘点退库部分</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="保留小数后4位"
        maxlength="13">
    </div>
    <div class="content-name">应收账款其他调整部分</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="保留小数后4位"
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">小计</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="保留小数后4位"
        maxlength="13">
    </div>
  </div>
</div>