<p style="text-align: right;">单位（元）</p>
<div class="title1-content">
  <div class="content">
    <div class="content-name">工资及工资附加费</div>
    <div class="content-input">
      <input  type="text" name="" id="" title="包括管理人员工资、外聘人员工资、人服工资、保安费" placeholder="包括管理人员工资、外聘人员工资、人服工资、保安费"
        maxlength="13">
    </div>
    <div class="content-name">占用资金利息</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="资金利息、履约保函保证金利息"
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">办公费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
    <div class="content-name">物业费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="管理人员房租"
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">业务招待费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder="招待费"
        maxlength="13">
    </div>
    <div class="content-name">差旅交通费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">车辆使用费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
    <div class="content-name">保险费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">职工福利费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
    <div class="content-name">四金及年金</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">临时设施费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
    <div class="content-name">安全防护费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">其他直接费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
    <div class="content-name">水费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">电费</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
    <div class="content-name">市场营销奖及预结算费用</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
  </div>
  <div class="content">
    <div class="content-name">备用金</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
    <div class="content-name">总计</div>
    <div class="content-input">
      <input  type="text" name="" id="" placeholder=""
        maxlength="13">
    </div>
  </div>
</div>