<div class="title1">
  项目基本情况
</div>
<div class="title1-content">
  <div class="content">
    <div class="content-name">单位名称</div>
    <div class="content-input">
      <input type="text" name="" id=""  maxlength="100">
    </div>
    <div class="content-name">考核收入</div>
    <div class="content-input">
      <input type="text" name="" id=""  maxlength="100">
    </div>
  </div>
  <div class="content">
    <div class="content-name">成本</div>
    <div class="content-input">
      <input type="text" name="" id=""  placeholder="含税金、资金成本" maxlength="100">
    </div>
    <div class="content-name">利润%</div>
    <div class="content-input">
      <input type="text" name="" id=""  maxlength="100">
    </div>
  </div>
  <div class="content textarea">
    <div class="content-name flex-2">资金管理目标</div>
    <div class="content-input flex-4">
      <textarea  maxlength="1000"></textarea>
    </div>
  </div>
  <div class="content textarea">
    <div class="content-name flex-2">质量目标</div>
    <div class="content-input flex-4">
      <textarea  maxlength="1000"></textarea>
    </div>
  </div>
  <div class="content textarea">
    <div class="content-name flex-2">工期目标</div>
    <div class="content-input flex-4">
      <textarea  maxlength="1000"></textarea>
    </div>
  </div>
  <div class="content textarea">
    <div class="content-name flex-2">安全目标</div>
    <div class="content-input flex-4">
      <textarea  maxlength="1000"></textarea>
    </div>
  </div>
  <div class="content textarea">
    <div class="content-name flex-2">主要材料消耗量指标</div>
    <div class="content-input flex-4">
      <textarea  maxlength="1000"></textarea>
    </div>
  </div>
  <div class="content textarea">
    <div class="content-name flex-2">责任成本降低率%</div>
    <div class="content-input flex-4">
      <textarea  maxlength="1000"></textarea>
    </div>
  </div>
</div>
<div class="button-div">
  <button class="btn btn-primary btn-block">提交</button>
  <p>21号前，可以重复编辑提交</p>
</div>