/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0;
    overflow-x: hidden;
}

input[type=date] {
    width: 150px !important;
}

input[type=date] {
    appearance: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.title1 {
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    border: solid 1px #ccc;
    border-bottom: none;
    font-size: 24px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 40px;
    margin-bottom: 0px;
    background: #d7eaf5;
}

.content {
    display: flex;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: solid 1px #ccc;
    font-size: 14px;
}

.content-name {
    flex: 2;
    border-right: solid 1px #ccc;
    font-weight: bold;
    font-family: '微软雅黑'
}

.content-name:nth-child(3) {
    border-left: solid 1px #ccc;
}

.content-input {
    flex: 3;
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.flex-4 {
    flex: 4 !important;
}

.content-input input, .content-input select {
    border: none;
    padding: 0;
    height: 48px;
    outline: none;
    width: 90%;
    float: left;
    padding-left: 10px;
}

.content-input input:disabled {
    border: none;
    padding: 0;
    height: 48px;
    outline: none;
    width: 100%;
    cursor: not-allowed;
    padding-left: 10px;
}

.title1-content {
    width: 100%;
    border: solid 1px #ccc;
    padding-bottom: 7px;
    margin-bottom: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 3px 13px 0px rgba(20, 74, 104, 0.14);
}

.edit-p {
    line-height: 30px;
    padding: 10px;
    text-align: left;
}

.textarea {
    height: 100px;
    line-height: 100px;
}

.textarea textarea {
    overflow: auto;
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    line-height: 20px;
    padding: 10px;
}

.title2 {
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 0px;
    background: #ffd6c3;
    margin: auto;
}

.title3 {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.title3 .content-div div, .title4 .content-div div {
    display: flex;
    height: 50px;
    line-height: 50px;
    border-bottom: solid 1px #ccc;
}

.title3 .content-div div:last-child, .title4 .content-div div:last-child {
    border-bottom: none;
}

.title3 p, .title4 p {
    width: 100%;
}

.height-4 {
    height: 200px !important;
    line-height: 200px;
}

.height-3 {
    height: 150px !important;
    line-height: 150px;
}

.button-div {
    width: 40%;
    margin: auto;
    padding: 20px 0;
}

.button-div p {
    font-size: 13px;
    margin-top: 5px;
    color: #333;
}

.title4 {
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.table-div table {
    width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 40px;
}

.table-div table input {
    border: none;
    width: 100%;
    padding: 0 10px;
    height: 100%;
    outline: none;
}

.table-div table tr {
    height: 40px;
}

.table-div table tr td {
    padding: 5px;
}

.table-div table input[type='checkbox'] {
    width: 15px;
    border: solid 1px #ccc;
    height: 20px;
    vertical-align: middle;
    margin: 0 10px 0 20px;
}

.table-div table input[type='number'] {
    width: 30px;
}

.title {
    width: 900px;
    text-align: center;
}

.alert {
    position: fixed;
    z-index: 0618;
    width: 50%;
    left: 25%;
    top: 30px;
    height: 52px;
    border-radius: 7px;
    line-height: 52px;
    text-align: center;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 0;
}

.my-scroll::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 4px;
}

.my-scroll::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

.my-scroll::-webkit-scrollbar-corner {
    border-radius: 4px;
}

.my-scroll::-webkit-scrollbar-track-piece {
    background: rgba(214, 214, 214, 0.36);
    border-radius: 4px;
}

.flex-1 {
    flex: 1;
}

.imgList {
    width: 100%;
    margin-top: 30px;
    display: flex;
    margin-bottom: 20px;
    flex-flow: wrap;
}

.imgDiv {
    width: 220px;
    margin: 5px;
    border: solid 1px #ccc;
    height: 220px;
    overflow: hidden;
    float: left;
}

.imgDiv img {
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.imgDiv a {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 10;
    margin: 4px;
    float: right;
    background: url(./assets/images/del.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.fileDiv {
    margin: 20px 0;
}

.fileDiv button {
    margin-left: 20px;
    margin-right: 5px;
    border: none;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
}

.delete-btn {
    background: #c30000;
    margin-left: 5px !important;
}

.delete-btn:hover{
    background: #990505;
}

.download-btn {
    background: #00b59d;
}

.download-btn:hover{
    background: #078171;
}